---
import { Image } from 'astro:assets';
import logoImg from '~/assets/images/logo-estrop.png';
---
<div class="flex items-center">
  <Image src={logoImg} alt="Estrop 44 Logo" class="h-14 w-auto md:h-18 object-contain" widths={[120, 240, 360]} sizes="(max-width: 768px) 120px, 240px" loading="eager" />
</div>
